{% extends 'base.html' %}
{% block head %}
        The Pi Game
{% endblock %}

{% block body %}
<h1>The Pi Game</h1>
<p>Guess the number pi upto desired number of decimal digits to know your result.</p>
<form method="POST" class = "center">
	<p class = "form_text">Your Response</p>
	<input width="1000px" name="input" class = "in" >
	<br><br>

	<p class = "form_text">Name</p>
	<input type="text" name = "usr_name" class = "in">
	<br><br>
    <input type="submit" class = "submit">
</form>
{% endblock%}
